body
{
    background-color: #1e1f22;
}
.title
{
    font-weight: 700; 
    font-size: 1.875rem; 
    margin-bottom: 1.5rem; 
    line-height: 2.25rem; 
    border-width: 0;
    display: block;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-style: solid;
    border-color: #e5e7eb;
    text-align: center; 
    color: #e5e7eb;
}
.caption
{
background-color: #c2c2c2;
height: 90%;
padding: 10px;
font-weight: bold;
direction: rtl;
font-family: "Amiri Quran", serif;
font-size: 30px;
width: 90%;
margin: auto;
}
